@font-face {
    font-family: "Tavaline";
    src: url("KGBlankSpaceSolid.ttf");
}

@font-face {
    font-family: "Sketched";
    src: url("KGBlankSpaceSketch.ttf");
    font-weight: 100;
}

h1{
    padding: 0;
    margin: 0;
}

body, html{
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 50%;
    margin-top: -20px;
    width: 80%;
    justify-content: space-between;
    height: 40px;
}

.header{
    display: flex;
    background-color: #1C4638;
    height: 100px;
    width: 100%;
    justify-content: center;
}

img{
    width: 200px;
    height: 38px;
}

.menu a{
    font-family: "Tavaline";
    font-size: 24px;
    color: #FAF7ED;
    padding: 10px 15px 10px;
}

.menu{
    padding-right: 95px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menu img{
    height: 33px;
    width: 33px;
    padding-left: 10px;
}


/* Hero */

.hero-container{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #E5E5E5;
}

.hero{
    width: 75%;
    margin: 0 auto;
    position: relative;
    top: 30%;
}

.hero h1{
    font-family: "Sketched";
    font-weight: 400;
    color: #332C22;
    font-size: 64px;
}

.second{
    color: #1C4638;
}

.third{
    font-family: "Tavaline";
}

.hero p{
    font-family: "Tavaline";
    padding-top: 35px;
    font-size: 24px;
}


.hero button{
    background-color: #1C4638; /* Green */
    border: none;
    border-radius: 20px;
    color: #FAF7ED;
    font-family: "Tavaline";
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  }

.hero a{
    display: block;
    text-decoration: underline;
    color: #332C22;
    padding-top: 15px;
    font-size: 18px;
    font-family: "Tavaline";
}

.omadused{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-basis: 10%;
    width: 85%;
    margin: 0 auto;
}

.omadused h1{
    font-family: "Tavaline";
    font-size: 24px;
}

.feature {
    flex-grow: 1;
    text-align: center;
}

.underline{
    width: 280px;
    height: 8px;
}

/* Section */

.section{
    display: flex;
    align-items: center;
    height: 605px;
    margin: 0 auto;
    background-color: #1C4638;
    color: #FAF7ED;
}

.section p{
    font-size: 24px;
    padding-right: 20px;
}

.section button{
    background-color: #332C22; /* Green */
    border: none;
    border-radius: 20px;
    color: #FAF7ED;
    font-family: "Tavaline";
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  }

.content{
    align-items: center;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: "Tavaline";
}

.parem img{
    height: 378px;
    width: 567px;
}

/* Tagasiside */

.tagasiside{
    background-color: #E5E5E5;
    align-items: flex-start;
    height: 605px;
    font-family: "Tavaline";
}

.feedback{
    color: #332C22;
    padding-top: 35px;
    padding-bottom: 35px;
}

/* Tagasiside box */
.boxes{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.kast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 424px;
    height: 450px;
    background: #1C4638;
    border-radius: 10px;
    color: #FAF7ED;
    margin-left: 15px;
    margin-right: 15px;
}

.kast p{
    padding-left: 25px;
    padding-right: 25px;
    line-height: 40px;
}

.kast h1{
    padding-left: 25px;
    padding-right: 25px;
}

.ulemine{
    width: 27px;
    height: 26px;
    position: relative;
    top: -10px;
    left: 15px;
}

.alumine{
    width: 27px;
    height: 26px;
    position: relative;
    bottom: -10px;
    right: -373px;
}

.toode{
    position: relative;
    text-align: center;
    bottom: -25px;
}

.valgejoon{
    position: relative;
    height: 4.4px;
    width: 171px;
    margin: 0 auto;
    bottom: -15px;
}