*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
    overflow-x: hidden;
}

.container{
    background-color: #ffcdb2;
}

.flex-container{
    padding-top: 10px;
    background-color: #ffcdb2;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: auto;
    padding-bottom: 15px;
}

.flex-container h1{
    padding-bottom: 5px;
    font-family:'Courier New', Courier, monospace;
}

.flex-container p{
    padding-top: 5px;
    font-family:'Courier New', Courier, monospace;
}

img{
    width: 100%;
    height: 1000px;
}

.rivo{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: -5px;
}

th{
    font-size: 30px;
    padding-right: 15px;
}

.voimsus{
    padding-right: 10px;
    font-size: 17px;
    text-align: center;
}

.mudel{
    text-align: left;
}

td{
    padding-bottom: 5px;
    padding-top: 5px;
}


.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 20px;
    background-color: #ffcdb2;
}

.jutuke{
    text-align: center;
}

.jutuke h2{
    font-size: 35;
}


